@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.reactMarkDown a {
  color: rgb(2 132 199);
  border-bottom: rgb(2 132 199) 1px solid;
}

.reactMarkDown a:hover {
  color: rgb(7 89 133);
  border-bottom: rgb(7 89 133) 1px solid;
}